@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.canvasArea {
  width: 100%;
  height: 100vh;
  outline: none;
}
.redirect {
  position: absolute;
  z-index: 3;
  height: 50px;
  width: 200px;
  display: grid;
  place-items: center;
  background-color: #d83737;
  color: #f7f7f7;
  text-decoration: none;
  font-family: "Alata", sans-serif;
  bottom: 50px;
  right: 20px;
  border-radius: 10px;
}
